
{% extends 'base.html.twig' %}

{% block title %}View Exercises{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Exercises</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Name</th>
                <th>Video Link</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.id }}</td>
                    <td>{{ exercise.tipid.nume }}</td>
                    <td><a href="{{ path("view_exercise", {'id': exercise.id}) }}">{{ exercise.nume }}</a></td>
                    <td><a href="{{ exercise.LinkVideo }}">{{ exercise.LinkVideo }}</a></td>
                    <td data-controller="delete-exercise"> <!-- inainte-->
                        <button class="btn btn-danger" data-action="click->delete-exercise#delete" data-exercise-id="{{ exercise.id }}">Delete</button>
                    </td>
                    <td>
                        <a href="{{ path('edit_exercise', {'id': exercise.id }) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button  class="btn btn-success" onclick="window.location.href='{{ path('new_exercise') }}'">New exercise</button>
    </div>

    <script>
        function confirmDelete(exerciseId) {
            if (confirm('Are you sure you want to delete this exercise?')) {
                document.getElementById('delete-form-' + exerciseId).submit();
            }
        }
    </script>
{% endblock %}

