{% extends 'base.html.twig' %}

{% block title %}Create New Workout{% endblock %}

{% block body %}
    <div class="container mt-4" data-controller="exercise-form">
        <form method="post" action="{{ path('workouts_edit', {'id': workout.id}) }}" id="workout_form">
            <div class="mb-3">
                <label for="nume" class="form-label">Nume workout:</label>
                <input type="text" id="nume" name="nume" class="form-control" value="{{ workout.nume }}" required>
            </div>

            <div class="mb-3">
                <label for="user" class="form-label">User:</label>
                <select id="user" name="user" class="form-select" required>
                    <option value="{{ workout.user.id }}">{{ workout.user.nume }}</option>
                    {% for user in userList %}
                        <option value="{{ user.id }}">{{ user.nume }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="date" class="form-label">Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ workout.date|date('Y-m-d') }}" required>
            </div>
            <div id="exercise_logs" data-exercise-form-target="exerciseLogs">
            {% for log in workout.exerciseLogs  %}

                <div class="exercise-item mb-3 row" data-controller="exercise-form">
                    <hr class="bg-danger border-2 border-top border-danger" />
                    <div id="divExercises" class="col-md-4">
                        <select name="exercise_id[]" class="form-select" required>
                            <option value="{{ log.exercise.id }}">{{ log.exercise.nume }}</option>
                            {% for exercitii in exercitiiList %}
                                <option value="{{ exercitii.id }}">{{ exercitii.nume }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="number" value="{{ log.nrReps }}" name="nr_reps[]" class="form-control" placeholder="Number of Reps" required>
                    </div>
                    <div class="col-md-4">
                        <input type="number" value="{{ log.duration }}" name="duration[]" class="form-control" placeholder="Duration (in seconds)" required>
                    </div>
                </div>

            {% endfor %}
            </div>
            <div class="mb-3" id="locButoane">
                <a href="#" class="btn btn-outline-secondary me-2" data-action="click->exercise-form#addExercise">Add Exercise</a>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

        <template id="remove-button-exercise-template" data-exercise-form-target="removeButtonExerciseTemplate">
            <a href="#" id="remove-button-exercise" class="btn btn-danger" data-action="click->exercise-form#removeExercise">Remove last exercise</a>
        </template>

        <template id="exercise-template" data-exercise-form-target="exerciseTemplate">
            <div class="exercise-item mb-3 row" data-controller="exercise-form">
                <hr class="bg-danger border-2 border-top border-danger" />
                <div class="col-md-4">
                    <select name="exercise_id[]" class="form-select" required>
                        <option value="">Select Exercise</option>
                        {% for exercitii in exercitiiList %}
                            <option value="{{ exercitii.id }}">{{ exercitii.nume }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="number" name="nr_reps[]" class="form-control" placeholder="Number of Reps" required>
                </div>
                <div class="col-md-4">
                    <input type="number" name="duration[]" class="form-control" placeholder="Duration (in seconds)" required>
                </div>
            </div>
        </template>
    </div>
{% endblock %}
