{% extends 'base.html.twig' %}

{% block title %}Create a new workout{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Create a new workout</h1>
        {{ form_start(form) }}
        <div>
            {{ form_label(form.nume) }}
            {{ form_widget(form.nume) }}
        </div>
        <div>
            {{ form_label(form.users) }}
            {{ form_widget(form.users) }}
        </div>
        <div>
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
        </div>
        <div>
            {{ form_label(form.tip) }}
            {{ form_widget(form.tip) }}
        </div>
        <div>
            {{ form_label(form.exerciseLogs) }}
            <div id="exercise-logs">

                {{ form_widget(form.exerciseLogs) }}
            </div>
        </div>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
