{% extends 'base.html.twig' %}

{% block title %}View Workouts{% endblock %}

{% block body %}
    <div class="container mt-5" data-controller="pagination">
        <h1 class="mb-4">Workouts</h1>
        <form method="get" action="{{ path('workouts_index') }}" class="mb-3">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Filter by name" value="{{ app.request.query.get('search') }}">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
        <div class="mb-3">
            <label for="rowsPerPageSelect" class="form-label">Workouts per page:</label>
            <select id="rowsPerPageSelect" class="form-select w-auto" data-pagination-target="perPageSelect" data-action="change->pagination#changeRowsPerPage">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tip</th>
                <th>Date</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody data-pagination-target="tableBody">
            {% for workout in workouts %}
                <tr>
                    <td>{{ workout.id }}</td>
                    <td><a href="{{ path('workouts_show', {'id': workout.id}) }}">{{ workout.nume }}</a></td>
                    <td>{{ workout.tipId.nume }}</td>
                    <td>{{ workout.date ? workout.date|date('Y-m-d') : '' }}</td>
                    <td>{{ workout.user.nume }}</td>
                    <td>
                        <form id="delete-form-{{ workout.id }}" action="{{ path('workouts_delete', {'id': workout.id}) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workout.id) }}">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this workout?')">Delete</button>
                        </form>
                        <a href="{{ path('workouts_edit', {'id': workout.id}) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center" data-pagination-target="pagination"></ul>
        </nav>
        <a href="{{ path('workouts_new') }}" class="btn btn-success">New Workout</a>
    </div>
{% endblock %}
