{% extends 'base.html.twig' %}

{% block title %}View Users{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Users</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Workouts</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="{{ path('view_user', {'id': user.id}) }}">{{ user.nume }}</a></td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.birthday ? user.birthday|date('Y-m-d') : 'N/A' }}</td>
                    <td>{{ user.gender }}</td>
                    <td>
                        <ul>
                            {% for workout in user.workouts %}
                                <li>{{ workout.nume }} ({{ workout.date|date('Y-m-d') }})</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td data-controller="delete-user"> <!-- inainte-->
                        <a href="{{ path('update_user', {'id': user.id}) }}" class="btn btn-primary">Edit</a>

                        <button class="btn btn-danger" data-action="click->delete-user#delete" data-user-id="{{ user.id }}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('create_new_user') }}" class="btn btn-success">New User</a>
    </div>
{% endblock %}
