{% extends 'base.html.twig' %}

{% block title %}User Details{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>User Details</h2>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3 font-weight-bold">ID:</div>
                    <div class="col-sm-9">{{ user.id }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 font-weight-bold">Name:</div>
                    <div class="col-sm-9">{{ user.userAccount.nume }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 font-weight-bold">Birthday:</div>
                    <div class="col-sm-9">{{ user.birthday|date('Y-m-d') }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 font-weight-bold">Gender:</div>
                    <div class="col-sm-9">{{ user.gender }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3 font-weight-bold">Workouts:</div>
                    <div class="col-sm-9">
                        {% if user.workouts is empty %}
                            <p>No workouts available.</p>
                        {% else %}
                            <ul>
                                {% for workout in user.workouts %}
                                    <li><a href="{{ path('workouts_show', {'id': workout.id}) }}">{{ workout.nume }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <a href="{{ path('workouts_new')}}" class="btn btn-secondary">Add more workouts</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="{{ path('users') }}" class="btn btn-primary">Back to Users List</a>
                <a href="{{ path('update_user', {'id' : user.id}) }}" class="btn btn-secondary">Edit fields</a>

            </div>
        </div>
    </div>
{% endblock %}
