{# templates/exercise/view_exercises.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}View Exercises{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Exercises</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Name</th>
                <th>Video Link</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.id }}</td>
                    <td>{{ exercise.tipid.nume }}</td>
                    <td>{{ exercise.nume }}</td>
                    <td><a href="{{ exercise.LinkVideo }}">{{ exercise.LinkVideo }}</a></td>
                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

